# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=imdbload
DB_USER=postgres
DB_PASSWORD=

# Optimization Parameters
STORAGE_LIMIT_MB=50
INSERT_QUERIES=1000

# Benchmark
BENCHMARK_TYPE=job
WORKLOADS_DIR=Output/RED_WORKLOADS
QUERIES_DIR=dataset/RED_JSON

# Logging
LOG_LEVEL=INFO
LOG_FILE=output/logs/experiment.log
