**/*.pyc
*.png
models/epoch-*
.ipynb*
__pycache__
datasets

models/*
datasets/*
*.log
*.csv

**/.DS_Store
**/*.swp

# Latex tmp files.
**/*.aux
**/*.fdb_latexmk
**/texput.fls

# Generated logs and results
wandb/
**/wandb/
ray_results/
**/ray_results/
cache/
**/cache/
results/
**/results/
